extends layout

block content
  h1= title
  p Seja bem-vindo(a) a página com as atividades
  p Por favor, selecione qual atividade deseja, para ir para a rota com a resolução:
  a(href="atv1/a") Atividade 1
  br
  a(href="atv2") Atividade 2 
  br
  a(href="atv3") Atividade 3 
  br
  a(href="atv4") Atividade 4 
  br
  a(href="atv5") Atividade 5 
  br
  a(href="atv6") Atividade 6 
  br
  a(href="atv7") Atividade 7 
  br
  a(href="atv8") Atividade 8 
  br
  a(href="atv9") Atividade 9 
  br
  a(href="atv10") Atividade 10 